<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Vodafone Regression Test Suite">
	<suite-files>
	<!--  <suite-file path="testNGFiles/nonLogin.xml"></suite-file> 
	  <suite-file path="testNGFiles/nonLoginRerun.xml"></suite-file> -->
	 <suite-file path="testNGFiles/login.xml"></suite-file>
	 <!-- <suite-file path="testNGFiles/nonLogin.xml"></suite-file>  -->
    <!--  <suite-file path="testNGFiles/loginRerun.xml"></suite-file> -->  
     </suite-files>
</suite>






